body{
   background-image: url(https://i.pinimg.com/474x/31/fb/59/31fb59d8ec54231f8746c7f632c0a9dd.jpg);
    background-size: 55% 100%;
    background-repeat: no-repeat;
    background-position: 410px;
    
}
